<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", {title:"All Todos"}) %>
    <link rel="stylesheet" href="/styles/todos-list.css">
  </head>
  <body> 
    <main class="todos-list_404">
      <h3 class="fs-2">Something went wrong on server! We will fixed soon.</h3>
    </main>
  </body>
</html>